@{
  Layout = "_Layout";
}

@using MessageBoardClient.Models;
@model List<MessageBoardClient.Models.Message>;

<h1>Message Details:</h1>
@foreach(Message message in Model)
{
  <ul>
    <li>Body: @message.Body</li>
    <li>Date: @message.Date</li>
    <li>UserName: @message.UserName</li>
    <li>GroupId: @message.GroupId</li>
  </ul>
}
