@{
  Layout = "_Layout";
}

@using MessageBoardClient.Models;
@model MessageBoardClient.Models.Message

<h1>Message Details:</h1>

<ul>
  <li>Body: @Model.Body</li>
  <li>Date: @Model.Date</li>
  <li>UserName: @Model.UserName</li>
  <li>GroupId: @Model.GroupId</li>
</ul>

